.groups {
    margin-left: 2%;
    border-radius: 2px;
    box-shadow: 0 0 2px #888888;
    background: white;
    box-sizing: border-box;
    padding: 10px;
}

.group-card {
    box-sizing: border-box;
    margin-left: 5px;
    border-bottom: 1px solid #e7e8ec;
    margin-top: 20px;
    padding-bottom: 15px;
}


.group-card__avatar {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    margin-top: 8px;
    border-radius: 50%;
}

.group-desc {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: justify;
    padding-left: 10px;
    padding-right: 40px;
}

.group-card__group-name {
    text-decoration: none;
    color: #2a5885;
    font-weight: bold;
}

.group-card__group-name:hover {
    text-decoration: underline;
}


.group-card__subs {
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    width: 22%;
    min-width: 130px;
    margin-top: 30px;
    margin-left: 2px;
}

.group-control {
    margin-bottom: 10px;
}

.group-control:after {
    content: '';
    display: table;
    clear: both;
}

.panel {
    padding-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.make-group {
    float: right;
}

.group-search {
    outline: none;
    width: 100%;
    border: none;
    border-top: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 10px 10px 20px;
    background: url(https://vk.com/images/search_icon.png) no-repeat 0 center;
}

.group-search:before{
    content: '';
    position: absolute;
}

.mine {
    background: rgba(0, 150, 136, 0.2);
}

.parange {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    overflow: hidden;
    z-index: 10;
}

.create-group {
    margin: 200px auto;
    max-width: 400px;
    background: #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.create-group__header {
    background: #009688;
    padding: 10px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.create-group__close {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 0;
    width: 50px;
    height: 50px;
}

.create-group__close:after {
    content: '';
    position: absolute;
    border-left: 2px solid white;
    height: 20px;
    right: 15px;
    transform: rotate(45deg);
}

.create-group__close:before {
    content: '';
    position: absolute;
    border-left: 2px solid white;
    height: 20px;
    right: 15px;
    transform: rotate(-45deg);
}

.bodyflow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    overflow: hidden;
}


.form-bag {
    padding: 10px;
}

.create-group__describe {
    width: 100%;
    height: 50px;
    resize: none;
    margin-bottom: 10px;
    color: #2a5885;
    border-color: rgba(42,88,133,0.4);
    border-radius: 4px;
}

.create-group-btn {
    width: 100%;
}



.group-create-input {
    outline: none;
    width: 100%;
    border: none;
    border-top: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    color: #2a5885;
}

.input-wrapp {
    display: block;
    position: relative;
}

.input-wrapp:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 25px;
    background: url(https://vk.com/images/icons/menu_icon.png?6) no-repeat 7px -105px;
}

.group-card__subs-main {
    width: 100%;
    margin-top: 20px;
    min-width: 0;
}

.group-avatar {
    display: block;
    width: 100%;
}

.group-page-subs .subscriber-container{
    padding-left: 10px;
    text-align: center;
}

.group-page-subs .subscriber {
    width: 30%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.group-page-subs .group-page-subs-title {
    text-align: center;
    font-size: 20px;
}


.subscriber-container .subscriber{
    margin-top: 10px;
}

.subscriber .subs-photo {
    border-radius: 70%;
}

.subs-name {
    text-decoration: none;
    color: midnightblue;
    text-overflow: ellipsis;
}

.subs-name:hover {
    text-decoration: underline;
}

.groups .group-header {
    padding: 5px 10px;
    border-bottom: 1px solid #e7e8ec;
}

.group-header .group-name {
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #2b2f33;
    margin: 0;
}

.group-header .group-desc {
    margin: 3px 0;
    padding: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    color: #000;
    font-family: "Open Sans", "Helvetica", sans-serif;
    line-height: 16px;
}

.groups-news-block {
    margin-bottom: 10px;
}

.groups-news-block .news-header-block {
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #2b2f33;
    text-align: center;
}

.groups-news-block .group-news-desc {
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    color: #000;
}

.post-news-panel {
    margin-top: 15px;
}

.post-news-panel .post-news-header {
    padding: 5px 0 5px 30px;
    border-top: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
    position: relative;
}

.post-news-panel .post-news-header:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    opacity: 0.75;
    background: url(https://vk.com/images/icons/menu_icon.png?6) no-repeat 7px -917px;
    top: 4px;
    left: 0;

}

.post-news-panel .post-news-input {
    border: none;
    outline: none;
    width: 100%;
}

.post-news-submit {
    text-align: right;
}

.post-news-submit  .post-news-photo {
    display: block;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    transition: background 2s;
}

.post-news-photo:hover  {
    background: wheat;
}

.post-new-desc {
    resize: none;
    width: 100%;
    display: block;
    outline: none;
    height: 100px;
    border-radius: 2%;
    border: 1px solid #e7e8ec;
}

.post-new-submit {
    margin-top: 15px;
}

.sg-hidden {
    display: none;
}

.groups .avatar-drop-box {
    border: 5px dashed darkslategray;
    background: radial-gradient(lightslategray, gray);
    min-height: 190px;
}

.avatar-drop-box .avatar-upload-file {
    display: none;
}

.avatar-drop-box .drop-box-advise {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: darkseagreen;
}

.avatar-drop-box .drop-box-alt {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: darkseagreen;
}

.avatar-drop-box .upload-wrapper {
    display: block;
    width: 70%;
    margin: 20px auto 20px;
    border-radius: 5%;
}

.avatar-drop-box.hover {
    border-color: #437ef9;
}

.avatar-drop-box .progress {
    transition: border-color 2s;
}

.avatar-drop-box.error {
    border-color: #8e031e;
}

.avatar-drop-box .drop-box-upload-msg {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: darkseagreen;
}

.avatar-drop-box .progress-status-bar {
    position: relative;
    display: block;
    width: 80%;
    margin: 60px auto 30px;
    min-height: 30px;
    border-radius: 50%;
    text-align: center;
}

.progress-status-bar .progress-msg {
    position: absolute;
    left: 40%;
    top: 0;
    font-size: 10px;
}

.progress-status-bar .progress-percentage {
    display: block;
    width: 0;
    background: #529bed;
    min-height: 15px;
    border-radius: 10%;
}

.drop-box-upload-error {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #8e031e;
}

.drop-box-upload-error-msg {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #8e031e;
}



.subscriber-container-empty {
    color: gray;
    opacity: 0.6;
}

#post-news-add-pic {
    display: none;
}

.create-group-msg-box-success {
    text-align: center;
    color: green;
    margin-top: -10px;
    margin-bottom: 10px;
}

.create-group-msg-box-error {
    text-align: center;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1030px) {
    .small {
        display: block;
        margin-bottom: 10px;
        float: none;
    }

    .group-desc {
        width: 80%;
    }
    .group-card__subs {
        margin-top: 10px;
    }

    .group-card__avatar {
        width: 30%;
    }

    .group-desc {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .groups {
        margin-left:0;
     }
}

@media only screen and (max-width: 400px) {
    .groups{
        margin-left: 0;
    }

    .group-card__avatar {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    .group-desc {
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .group-card__subs {
        text-decoration: none;
        display: block;
        width: 100%;
        min-width: 130px;
        margin-top: 0;
        margin-left: 0;
    }

    .group-card__group-name {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

}


