#addAlbumBlock,
#addPhotoBlock {
    background: #fff;
    height: 140px;
    width: 740px;
    position: absolute;
    left: 50%;
    margin-left: -370px;
    top: -350px;

    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    z-index: 100;
}
#addAlbum:hover,
#addPhotos:hover {
    -webkit-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    -o-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
}
    #cancelAlbumBlock img {
        width: 30px;
        position: absolute;
        right: 0;
    }
    #cancelAddPhotoBlock img {
        width: 30px;
        position: absolute;
        right: 0;
    }
        #addAlbumBlock form label,
        #addPhotoBlock form label {
            margin: 25px;
            display: inline-block;
        }
        #addAlbumBlock form input[type='text'] {
            display: inline-block;
        }
        #addPhotoBlock form input[type='file'] {
            display: inline-block;
            width: 100%;
            margin: 10px 0px 50px 22px;
        }
        #addAlbumBlock form input[type='submit'],
        #addPhotoBlock form input[type='submit'] {
            margin-left: 41%;
        }
        #addAlbumBlock form input[type='reset'] {
        }
        #addPhotoBlock form input[type='reset'],
        #addAlbumBlock form input[type='reset'],
        #addPhotoBlock form input[type='submit'],
        #addAlbumBlock form input[type='submit'] {
            color: #fff;
            background-color: #607d8b;
            border: none;
            display: inline-block;
            padding: 6px 16px;
            text-decoration: none;
            cursor: pointer;

            webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
            -moz-transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
            -o-transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
            transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
        }
#addAlbumBlock.active,
#addPhotoBlock.active {
    top: 80px;
    position: fixed;
    margin-left: -370px;
}
#forFogging {
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -99;
}
#forFogging.fogging {
    z-index: 99;
    background:rgba(0,0,0,0.5);
}
.blockAlbum {
    width: 360px;
    height: 210px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    position: relative;

    webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}
.blockAlbum:hover {
    background-color: #7d97a5;
}
    .blockAlbum a {
        text-decoration: none;
    }
    .blockAlbum h3 {
        display: inline;
    }
    .photoOnAlbum {
        height: 124px;
        max-width: 150px;
    }
    .blockAlbum ul {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        float: right;
    }
    .blockAlbum .deleteAlbum img{
        width: 30px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 10px 0 0;
    }
.allAlbums {
    margin: 10px;
    background: #7d97a5;
    color: #fff;
}
.w3-accordion-content .allAlbums:hover {
    background: #57707d;
    -webkit-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    -o-box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 9px 2px rgba(0,0,0,0.4);
}
.photo {
    position: relative;
    display: inline;
    line-height: 45px;
}
    .photo a {
        position: relative;
        width: 10px;
        display: inline-block;
    }
    .photoInAlbum {
        width: 25%;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    .deleteIcon {
        height: 25px;
        left: -1000%;
        bottom: 25px;
        position: absolute;
        z-index: 0;

        webkit-transition: bottom .5s ease;
        -moz-transition: bottom .5s ease;
        -o-transition: bottom .5s ease;
        transition: bottom .5s ease;
    }
    .photo:hover .deleteIcon {
        bottom: -7px;
    }


.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    z-index: 98;
}
.popup_bg {
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
}
.popup_img {
    position: relative;
    margin: 55px auto;
    z-index: 100;
    max-height: 90%;
    max-width: 90%;
}
