#addAlbumBlock {
    background: #fff;
    height: 230px;
    width: 740px;
    position: absolute;
    left: 50%;
    margin-left: -370px;
    top: -350px;

    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    z-index: 100;
}
    #cancelAlbumBlock img{
        width: 30px;
        position: absolute;
        right: 0;
    }
    #addAlbumBlock form {

    }
        #addAlbumBlock form label {
            margin: 25px;
            display: inline-block;
        }
        #addAlbumBlock form input[type='text'] {
            display: inline-block;
        }
        #addAlbumBlock form input[type='file'] {
            display: inline-block;
            width: 100%;
            margin: 10px 0px 50px 22px;
        }
        #addAlbumBlock form input[type='submit'] {
            margin-left: 40%;
        }
        #addAlbumBlock form input[type='reset'] {
        }
        #addAlbumBlock form input[type='reset'],
        #addAlbumBlock form input[type='submit'] {
            color: #fff;
            background-color: #607d8b;
            border: none;
            display: inline-block;
            padding: 6px 16px;
            text-decoration: none;
            cursor: pointer;

            webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
            -moz-transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
            -o-transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
            transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
        }

#addAlbumBlock.active {
    top: 80px;
    position: fixed;
    margin-left: -370px;
}
#forFogging {
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -99;
}
#forFogging.fogging {
    opacity: 0.5;
    z-index: 99;
    background: #000;
}